
.componentsDiv{
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.mainDiv{
  width: 100%;
  height: 100%;
  
}
.header{
  width: 100%;
  display: flex;
  justify-content: center;
}
.component{
  width: 50vw;
  max-width: 40vw;
  height: 50%;
}
@media screen and(max-width:450px) {
  .componentsDiv{
    width: 627.31;
    height: 200vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  
}
@media screen and (max-width: 1024px) {
  .header{
    width: 100%;
  display: flex;
  justify-content: center;
  font-size:larger;
  }
  .componentsDiv{
    width: 100vw;
    height: 215vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

}
