.visually-hidden{
  display: none;
}
.componentsDiv{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
}
.mainDiv{
  width: 100%;
  height: 90vh;
  
}
.header{
  width: 100%;
  display: flex;
  justify-content: center;
}
.component{
  width: 50%;
}